* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #c0daff;
  font-size: 62.5%;
}

.topnavA {
  justify-content: space-around;
  display: flex;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #3f578b;
  margin-bottom: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  border: 1px solid #3f578b;
}

.topnavMain a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#conteudoPrincipal {
  display: flex;
  justify-content: space-evenly;
}

.formularioFormat1 {
  width: 100%;
  display: flex;
}

.configAgrupamento {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid #3f578b;
  border-radius: 12px;
  margin: 1rem;
}

.tamanhoDaBorda {
  font-size: 22px;
  padding: 1rem;
  margin: 1rem;
  color: #3f578b;
  border: 1px solid #3f578b;
  font-weight: bold;
  flex: 1;
  border-radius: 12px;
  background-color: #c0daff;
}

.formFormatTexto {
  background: none;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
}

.formFormatSelect {
  display: flex;
  flex-wrap: wrap;
  background-color: none;
  outline: none;
}

.registroDeChamado {
  font-size: 30px;
  color: #3f578b;
  border: 1px solid #3f578b;
  font-weight: bold;
  padding-bottom: 75px;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0px;
  border-radius: 12px;
}

.registroDeChamadoInput {
  width: 100%;
}

#botaoDeEnvio {
  margin-left: 50%;
}
